* {
    font-family: 'Playpen Sans';
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding-left: 32%;
    padding-right: 40%;
    padding-top: 20px;
}

#container div {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

#clear-btn {
    height: 50px;
    width: 80px;
    font-size: 24px;
}

#num1 {
    border: 1px solid red;
}